.dtm_killfile_commentholder_hidecomment > .dtm_killfile_shown {
    display: none !important;
}
.dtm_killfile_commentholder_showcomment > .dtm_killfile_hidden {
    display: none !important;
}

/* prettify links */
.dtm_killfile_commentholder .dtm_killfile_select { visibility: hidden; }
.dtm_killfile_commentholder:hover .dtm_killfile_select { visibility: inherit; }
